*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #121212;
  color: white;
}

h1 {
  line-height: 1.1;
}
.main-title {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.header-contents h2 {
  font-weight: 900;
}
.header-contents a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: inherit;
  border: 2px solid white;
  padding: 0 0.15em;
}
.header {
  background-image: url("images/movie-watch.png");
  padding: 3em 0;
}
/* ----------------------------------------------------------------------- */

.search-bar-control {
  display: flex;
  justify-content: center;
  position: relative;
  /* left: 80px; */
  left: 20px;
  top: -15px;
  width: 90%;
  height: 4%;
}
.search-bar-control input {
  background-color: #2e2e2e;
  color: white;
  width: 60%;
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-btn {
  background-color: #4b4b4b;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 25%;
  justify-content: center;
}

.placeholder-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}
.placeholder-movie p {
  color: #2e2e2f;
}
.watch-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: max-content; */
  min-height: 50vh;
}
.watch-list p:nth-child(1) {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #787878;
}
.add-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.add-content img {
  margin-top: 0.15em;
}
.add-icon {
  margin-right: 0.35em;
}
